body {
    font-family: "Helvetica", sans-serif;
    height: 100%;
}

p {
    margin: .25em;
}

.popup {
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);

    width:100%;

    position: relative;
    margin: auto;
}

.popup__label-recommend {
    border: 1px solid grey;
    border-radius: 4px;

    width: 100px;
    padding: .5em 1em;

    position: absolute;
    left: .5em;
    top: .5em;
}

.popup__button-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;

    padding: .2em .4em;

    text-align: center;

    position: absolute;
    right: 0;
    top: 0;
}

.popup__content {
    padding: 3em 1em 2em;
}

.popup__row::after{
    content: "";
    display: block;
    clear: both;
}

.popup__row--center {
    text-align: center;
}

.popup__logo {
    height: 200px;
    width: 200px;

    margin: 0 1em 0 0;
}

.popup__logo img{
    height: 100%;
    width: auto;
}

.popup__content-title{
    font-size: 3em;
    font-weight: 300;

    margin: 0.25em auto 0;
}

.popup__content-subtitle{
    color: rgb(25,175,190);
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;

    margin: .5em auto;
}

.popup__stats {
    margin-bottom: 1em;
}

.popup__rating {
    color: rgb(25,175,190);
}

.popup__button-download {
    background: rgb(25,175,190);
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
    color: white;
    cursor: pointer;
    font-size: 1.5em;

    padding: 1em;

    margin: 1em auto;
}

.popup__button-download:hover, .popup__button-download:focus {
    background: rgb(20, 160, 175);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
}

.popup__button-download:active {
    background: rgb(18, 146, 160);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
}

.popup__button-download-icon {
    padding-right: .5em;
}

.popup__button-download-label {
    text-transform: uppercase;
}

.popup_footer-test-message {
    background: rgba(0,0,0,.75);
    color: white;
    font-size: .75em;
    text-align: center;

    padding: .5em;

    margin-top: 1em;
}

@media only screen and (min-device-width: 768px), only screen and (min-width: 768px){
    .popup {
        height: 26.5em;
        width: 43em;
    }

    .popup__col {
        float: left;
    }
    
    .popup__col--s {
        width: 33%;
    }
    
    .popup__col--l {
        width: 66%
    }
}